<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue总结</title>
    <style>
        
    
    </style>
</head>
<body>
    <h2>vue总结</h2>
    <div>
            三阶段四周过去，今天来总结一下所学知识：Vue.js是一套构建用户界面的渐进式框架，它只关注视图层， 采用自底向上增量开发的设计。
            Vue 的目标是通过尽可能简单的 API 实现响应的数据绑定和组合的视图组件，相当于JavaScript MVVM库，它是以数据驱动和组件化的思想构建的
            Vue不支持IE8以及以下版本。
            想要使用Vue的话可以通过直接下载vue.js，放置到项目中写好路径就可以，或者直接通过CDN引入，当然，推荐使用NPM安装。
            vue实例创建：创建Vue实例是通过Vue（构造）函数来创建的，通过new关键字，Vue构造函数接受一个参数，该参数是一个对象，称为选项对象，可以直接在创建时候写一个对象，也可以先创建好一个对象再传入。
            vue指令：v-if是条件渲染指令，它根据表达式的真假来删除和插入元素。v-show和v-if区别。
            v-show不管条件是否成立，都会渲染html,而v-if只有条件成立才会渲染。而使用v-show的d仅仅是更改了样式display;
            v-bind动态地绑定一个或多个特性，可以在其名称后面带一个参数，中间放一个冒号隔开，这个参数通常是HTML元素的特性（attribute），如v-bind: class
            class可以和v-bind:class同时存在 ，也就是说有class了，再添加v-bind:class并不会覆盖原来的样式类，而是在原来基础上添加新的类名
            v-on用于监听DOM事件,用法和v-bind类似，例如给button添加点击事件
            同样，和v-bind一样，v-on也可以使用简写，用@符号代替，修改代码：
            v-for指令基于一个数组渲染一个列表，它和JavaScript的遍历语法相似
            v-for="item in list"
            list是一个数组，item是当前遍历的数组元素
            v-for="(item,index) in list"其中index是当前循环的索引，下标从0开始
            还有学习了vue的路由，核心是router-link 以及router-view
            还学习了生命周期函数、组件和脚手架
            经过这段时间的vue的学习，我算是基本熟悉了vue这门框架，
            这门框架算得上是我系统学习的第一门框架语言，
            刚开始学习vue的时候感觉这个框架弄得太多了，知识点太多了，
            而且刚刚进入的时候发现和前面学的半天的基础完全不一样，
            我只知道这个怎么用，比如单向绑定双向绑定啥的，
            但是慢慢熟悉了以后基本原理的时候发现就是通过对原生js的封装实现的然后系统过一遍这个框架的时候就发现用起来真的会特别方便，
            什么都特别清晰，找数据知道去哪找，找样式知道去哪找，页面都是通过一块块组件来组成的，
            结构特别的清晰以后也会便于维护，目前最大的问题就是知道该怎么用，
            但是每次做的时候就会报各种各样的错误，就很难受，
            有的时候总感觉自己做的没问题，但是就是莫名其妙的报错可能太不细心了
            ，然后我把每次的报错全部都截图整理了下来，希望以后错误能少犯。

    </div>
</body>
</html>